/* 
pegar coisas do design:
-cores: ver o fundo da tela 
box sizing border box e para ter o mesmo tamanho sempre
 background: #FAFAFA
-tamanho: qual o tamanho da tela: 1440- 1024
-fonte: epilogue-google fonts
*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');

:root {
  --background: #fafafa;
  --geralColor: red;
  --veryPery: #6667AB;
}

/* podemos colocar variaveis no css
também o pixel perfect , que é seguir perfeitamente as dimensoes de acordo com as dimensões do design
*/

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family:fredoka ;
  /* background-color: var(--veryPery); */
}

*, *:before, *:after {
  /* pseudo-elemento */
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--geralColor);
}

/* .xy {
   width: 10rem;//o rem é de acordo com o root fala 10 vezes o valor padrão, se for só 'em' é de acordo com a tag 
} */
